:root {
    --primary-color: #48bc5b;
}

html {
    background-color: white;
}

html.dark-mode {
    filter: invert();
}

html.dark-mode img {
    filter: invert()
}

body {
    font-family: 'Proza Libre', sans-serif;
}

.todo-row {
    padding: 7px 3px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.todo-row:hover {
    background-color: #f1f1f1;
}

.todo-action {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
}

button {
    cursor: pointer;
    text-transform: capitalize;
}

.app {
    margin: 0 auto;
}

.avatar-photo {
    border-radius: 50%;
    box-shadow: 1px 1px 0px var(--primary-color);
    max-width: 60px;
    margin: 10px;
}

.create-todo {
    padding: 5px 0;
    display: flex;
    flex: 1;
}

.app-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

button {
    font-family: 'Proza Libre', sans-serif;
    background-color: #f1f1f1;
    border: 1px solid black;
    box-shadow: 3px 3px 0px black;
    transition: box-shadow 0.1s;
    text-transform: uppercase;
    padding: 0.3rem 2rem;
}

.todo-row button {
    box-shadow: 0px 0px 0px black;
    border: 1px solid transparent;
}

.todo-row:hover button {
    box-shadow: 3px 3px 0px black;
    border: 1px solid black;
}

button:hover {
    box-shadow: 2px 2px 0px black;
    background-color: #ebebeb;
}

button:active {
    box-shadow: 0px 0px 0px black;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#todo-input {
    display: 'flex';
    font-family: 'Proza Libre', sans-serif;
    flex: 1;
    font-size: 22px;
    padding: 8px 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px black;
    margin-right: 10px;
    transition: box-shadow 0.1s;
}

#todo-input:focus {
    outline: none;
    box-shadow: 1px 1px 0px black;
}

#toast {
    display: block;
    position: fixed;
    bottom: 20;
    right: 20;
    padding: 10px;
    border: 1px solid  var(--primary-color);
    background-color: white;
    box-shadow: 4px 4px 0px  var(--primary-color);
    transition: transform 2s;
    transform-origin: 50% 50%;
    transform: scale(0);
}

/* cubic-bezier(.47,1.64,.41,.8) */

#toast.visible {
    transform: scale(1);
}

@media(min-width: 480px) {
    .app {
        margin: 0 auto;
        width: 90%;
    }
}

@media(min-width: 640px) {
    .app {
        margin: 0 auto;
        width: 80%;
    }
}

@media(min-width: 1280px) {
    .app {
        margin: 0 auto;
        width: 50%;
    }
}